.button {
   font-size: 14px;
   line-height: 20px;
   color: #9b9b9b;
   padding: 8px 16px;
   position: relative;

   &.active {
      color: #0369a1;
   }

   &::after {
      position: absolute;
      content: '';
      left: 0;
      width: 0;
      bottom: -1px;
      height: 2px;
      background-color: #0369a1;
      transition: width 0.3s ease;
   }

   &.active::after {
      width: 100%;
      right: 0;
   }
}

.comment-area {
   width: 100%;
   min-height: 100px;
   border-radius: 5px;
   outline: 0;
   padding: 8px;
   transition: border-color linear 0.15s;
   font-size: 14px;
   resize: none;
   overflow: hidden;
}
