@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   margin: 0;
   font-family: 'OpenSans';
   background-color: #f6f6f7;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
   color: #1b1b1b;
}

@font-face {
   font-family: 'OpenSans';
   src: url('/src/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
}

@font-face {
   font-family: 'OpenSans-Italic';
   src: url('/src/assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
}
